<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Landing Page Produk</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="scripts/script.js" defer></script>
  </head>
  <body>
    <main class="container">
      <div class="navbar">
         <img src="images/arvin-studio.png" class="logo">
         <nav> 
         <ul>
          <li><a href="/">Beranda</a></li>
          <li><a href="/produk">Produk</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/kontak">Kontak</a></li>
         </ul></nav>
      </div>
      <h1>Products Plugin</h1>
      <input type="text" class="filter-repos hide" placeholder="Search Projects" />
      <section class="repos">
          <ul class="repo-list"></ul>
      </section>
      <footer>
        <h4>Made with <a href="https://github.com/arvin-plugin">Arvin Plugin</a></h4>
      </footer>
  </main>
  </body>
</html>
